@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.secondPage {
  overflow-x: hidden;
  background-color: black;
}

.main {
  padding: 10px 40px;
  display: flex;
  gap: 10px;
}
button {
  transition: 0.3s ease-in-out;
}
button:hover {
  letter-spacing: 2px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .main {
    padding: 10px 10px;
    display: flex;

    gap: 4px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 10px 110px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  .main {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 2500px) {
  .main {
    padding: 10px 400px;
    display: flex;

    gap: 20px;
  }
}
